/* assets/styles/style.qss */

/* General Widget Styling */
QWidget {
    background-color: #f2f2f2;
    font-family: "Segoe UI", sans-serif;
    color: #333333;
}

/* General QLabel Styling */
QLabel {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
}



#i was here
/* Adjusted Exercise and Goal Labels */
QLabel#exerciseLabel,
QLabel#goalLabel {
    font-size: 18px;
    font-weight: bold;
}

/* QComboBox Styling */
QComboBox {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;  /* Specify text color */
    min-width: 150px;
    font-size: 16px;
    font-weight: bold;
}

QComboBox:hover {
    border: 1px solid #4CAF50;
}

QComboBox QAbstractItemView {
    background-color: #ffffff;
    color: #333333;  /* Specify text color */
    selection-background-color: #4CAF50;
    selection-color: #ffffff;
    font-size: 16px;
}

/* QComboBox Arrow Button */
QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 30px;
    border-left: 1px solid #ccc;

}

/* QComboBox Arrow Image */
QComboBox::down-arrow {
    image: url(assets/icons/down-arrow.png);  /* Use a custom arrow icon */
    width: 15px;
    height: 15px;
}

/* QSpinBox Styling */
QSpinBox {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;  /* Specify text color */
    min-width: 100px;
    font-size: 16px;
    font-weight: bold;
}

QSpinBox:hover {
    border: 1px solid #4CAF50;
}

/* SpinBox Buttons */
QSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    width: 20px;
    border-left: 1px solid #ccc;
    background: transparent;
}

QSpinBox::up-arrow {
    image: url(assets/icons/up-arrow.png);  /* Use a custom up arrow icon */
    width: 10px;
    height: 10px;
}

QSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    width: 20px;
    border-left: 1px solid #ccc;
    background: transparent;
}

QSpinBox::down-arrow {
    image: url(assets/icons/down-arrow.png);  /* Use a custom down arrow icon */
    width: 10px;
    height: 10px;
}

/* QPushButton Styling */
QPushButton {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 #4CAF50, stop:1 #45a049);
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
    min-height: 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

QPushButton:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

QPushButton:pressed {
    background-color: #3e8e41;
    transform: scale(0.95);
}

